@font-face {
  font-family: "veneer";
  src: url("../fonts/Veneer.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}
body,
h1,
h2,
h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
}
body {
  background-color: #e1e0de;
}
