/test/DemoWebApplication/nbproject/private/
/test/DemoWebApplication/build/
/test/DemoWebApplication/dist/
/test/DemoWebApplication1/nbproject/private/
/test/DemoWebApplication1/build/
/test/DemoWebApplication1/dist/
/mavenproject3/target/
/gradleproject1/.gradle/
/gradleproject1/build/